footer{
    background-color: rgba(45, 155, 240, 0.5);
    padding: 2%;
    border: 2px solid #69C7C1;
    border-radius: 10px;

    .return{
        background-color: rgb(45, 155, 240);
        padding: 10px;
        border: 2px solid #69C7C1;
        a{
            text-decoration: none;
            color: black;
        }
    }
};
.return:hover{
    background-color: aliceblue;
    border-radius: 10px;
    transition-duration: 0.5s;
    a{
        color: rgb(45, 155, 240);
    }
}

