.masa {
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.5fr 1.5fr 1.5fr; 
    grid-template-rows: 0.5fr auto 0.5fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      "historial . ."
      "historial conv-masa imagen"
      "historial . .";
      @media  (max-width: 480px){
        grid-template-columns: 0.5fr 1.5fr; 
        grid-template-rows: 0.5fr auto 0.5fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "historial . "
          "historial conv-masa"
          "historial imagen ";
    } 
  }
  .historial {
     grid-area: historial;
     padding: 10px;
     border: 2px solid #69C7C1;
     text-align: center;
 }
  .conv-masa { 
    grid-area: conv-masa; 
    background-color: rgba(45, 155, 240, 0.5);
    border: 2px solid #69C7C1;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #valor-mass{
      display: flex;
    }
    #mass-inicial{
      background-color: lightgray;
      border-radius: 5px;
      color: black;
    }
    #mass-final{
      background-color: lightgray;
      border-radius: 5px;
      color: black;
    }
    #calcular-mass{
      background-color: lightgray;
      border-radius: 5px;
      color: black;
      padding: 2px;
    }
}
  .imagen{
    grid-area: imagen;
    width: 50%;
    height: auto;
    border-radius: 5px;
}